@font-face{ 
	font-family: NexaLight; 
	src: url('../resources/Fonts/fonts/nexalight.ttf'); 
} 
@font-face{ 
	font-family: NexaBold; 
	src: url('../resources/Fonts/fonts/nexabold.ttf'); 
} 
@font-face{ 
	font-family: FeltTipWoman; 
	src: url('../resources/Fonts/fonts/Felt_Tip_Woman.ttf'); 
} 
body{
	margin: 0;
	transition: all 300ms;	
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 1080px;
}
body>section:first-child{
	background-image: url(../resources/Background_1_section.png);
	background-repeat: no-repeat;
	background-size: 1920px 100%;
	background-position: center;
}
body>section:nth-of-type(3){
	background-image: url(../resources/Background_3_section.png);
	background-repeat: no-repeat;
	background-size: 1920px 100%;
	background-position: center;
}
hr{
	width: 1786px;
	margin: 0;
	border:none;
	height: 2px;
	color: #dbdbdb;
	background-color: #dbdbdb;
}
a{
	font-family: NexaLight;
	color: white;
	text-decoration: none;
	font-size: 24px;
}
body>section:nth-of-type(2n) a{
	color: #dbdbdb;
}
h1,h2{
	margin-top: 90px;
	font-family: NexaLight;
	font-size: 60px;
	line-height: 45px;
	letter-spacing: 11px;
	font-weight: lighter;
}
h2{
	font-size: 42px;
	line-height: 42px;
}
h3{
	font-family: NexaBold;
	font-size: 30px;
	line-height: 22px;
	margin-bottom: 0;
	margin-top: 0;
}
h3:first-of-type{
	margin-top: 200px;
}
body>section:last-of-type>h2:last-of-type{
	margin-bottom: 73px;
}
body>section:last-of-type>h1,body>section:last-of-type>h2{
	margin-top: 43px;
}
body>section:nth-of-type(3) h1{
	color: #dbdbdb;
	margin-bottom: 91px;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 1.88;
}
span{
	font-family: FeltTipWoman;
	font-size: 36px;
}
.links{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 609px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}
.logo{
	margin-top: 148px;
}
.Scroll-Link{
	text-align: center;
	margin-top: 135px;
}
.Scroll-Link:nth-of-type(2),.Scroll-Link:nth-of-type(3){
	margin-top: 81px;
}
.Scroll-Link>p{
	font-size: 18px;
	font-family: NexaBold;
	color: white;
	margin-top: 0;
	margin-bottom: 24px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #dbdbdb;
}
.About-container{
	margin-top: 75px;
	width: 1496px;
}
.About-img{
	float: left;
	margin-right: 54px;
}
.galerea{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap; 
	width: 1592px;
	height: 550px;
}
.galerea img{
	width: 279px;
	height: 250px;
}
.galerea .img{
	margin-top: 50px;
}
.media{
	margin-top: 38px;
	width: 221px;
	display: flex;
	justify-content: space-between;
}
footer{
	margin-top: 207px;
}
footer p{
	margin-top: 39px;
	font-family: NexaLight;
	font-size: 18px;
	line-height: 15px;
	color: #dbdbdb;
	text-transform: uppercase;
	text-align: center;	
}